@page
@model CustomerFE.Pages.Products.DetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;

@using Shared.Constants
@using Shared.Enum
@using CustomerFE.ViewModel.Product;
@using CustomerFE.ViewModel.Rating;

@{
    ViewData["Title"] = "Details";
}
@{
    var sum = 0;
    var count = 0;
    var ratingStar = 0;
    @foreach (var item in Model.Ratings)
    {
        sum += item.RatingIndex;
        count++;
    }
    if(count != 0)
    {
        ratingStar = sum / count;
    }
    @*var ratingStar = sum / count;*@
}

<!--Section: Block Content-->

<div class="row">
    <div class="col-md-6 mb-4 mb-md-0">

        <div id="mdb-lightbox-ui"></div>

        <div class="mdb-lightbox">

            <div class="row product-gallery mx-1">

                <div class="col-12 mb-0">
                    <img src="@("https://localhost:4001/" + Model.Products.ImagePath)" class="img-fluid z-depth-1" />
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6 mt-5 mb-5">

        <h5>@Model.Products.Name</h5>
        <p class="mb-2 text-muted text-uppercase small">Sneaker</p>
        @if (ratingStar != 0)
        {
            <span>
                @for (int i = 0; i < ratingStar; i++)
                {
                    <i class="fas fa-star fa-sm text-primary"></i>
                }
                @for (int i = 0; i < 5 - ratingStar; i++)
                {
                    <i class="fas fa-star fa-sm text-ouline-primary"></i>
                }
            </span>
        }
        else
        {
            <span>
                @for (int i = 0; i < 5; i++)
                {
                    <i class="fas fa-star fa-sm text-ouline-primary"></i>
                }
            </span>
        }


        <p><span class="mr-1"><strong>@Model.Products.Price VND</strong></span></p>
        @*<p class="pt-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
        error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
        officia quis dolore quos sapiente tempore alias.
        </p>*@
        <div class="table-responsive">
            <table class="table table-sm table-borderless mb-0">
                <tbody>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Brand</strong></th>
                        @if (Model.Products.Brand == 1)
                        {
                            <td>Adidas</td>

                        }
                        else
                        {
                            <td>Nike</td>
                        }
                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Gender</strong></th>
                        @if (Model.Products.Gender == 0)
                        {
                            <td>Male</td>
                        }
                        else
                        {
                            <td>Female</td>
                        }
                    </tr>
                    @*<tr>
                        <th class="pl-0 w-25" scope="row"><strong>Size</strong></th>
                        <td>@Model.Products.Size</td>
                    </tr>*@
                </tbody>
            </table>
        </div>
        <hr>
        <div class="table-responsive mb-2">
            <table class="table table-sm table-borderless">
                <tbody>
                    <tr>
                        <td class="pl-0 pb-0 w-30">Quantity</td>
                        <td class="pb-0">Select size</td>
                    </tr>
                    <tr>
                        <td class="pl-0">
                            <div class="d-flex flex-row def-number-input number-input safari_only mb-0">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                        class="minus btn btn-outline-primary my-2 my-sm-0">
                                    <strong><</strong>
                                </button>
                                <input class="form-control mr-2 ml-2 my-sm-0" min="0" name="quantity" value="0" type="number" style="width:5vw">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                        class="plus btn btn-outline-primary my-2 my-sm-0">
                                    <strong>></strong>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="mt-1">
                                <div class="form-check form-check-inline pl-0">
                                    <input type="radio" class="form-check-input" id="small" name="materialExampleRadios"
                                           checked>
                                    <label class="form-check-label small text-uppercase card-link-secondary"
                                           for="small">Small</label>
                                </div>
                                <div class="form-check form-check-inline pl-0">
                                    <input type="radio" class="form-check-input" id="medium" name="materialExampleRadios">
                                    <label class="form-check-label small text-uppercase card-link-secondary"
                                           for="medium">Medium</label>
                                </div>
                                <div class="form-check form-check-inline pl-0">
                                    <input type="radio" class="form-check-input" id="large" name="materialExampleRadios">
                                    <label class="form-check-label small text-uppercase card-link-secondary"
                                           for="large">Large</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-primary btn-md mr-1 mb-2">Buy now</button>
        <button type="button" class="btn btn-light btn-md mr-1 mb-2">
            <i class="fas fa-shopping-cart pr-2"></i>Add to cart
        </button>
    </div>
</div>
@*<div class="row">
        <partial name="_Rating"/>
    </div>*@
<div class="row mt-5 ml-5">
    <form method="post">
        @*<meta charset="UTF-8">*@
        @*<link rel="stylesheet" type="text/css" href="/css/Rating.css">*@
        @*<title>Star rating using pure CSS</title>*@
        <div class="rate">
            <input type="radio" id="star5" name="rating" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label for="star1" title="text">1 star</label>
        </div>
        <div>
            @*<input type="text" name="TextComment"/>*@
            <div class="form-group">
                @*<label for="exampleFormControlTextarea1">Example textarea</label>*@
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="TextComment"></textarea>
            </div>
            <input type="text" name="ProductId" value="@Model.Products.Id" hidden />
            <a href=@("https://localhost:4001/" + "Products/Details?ID=" + Model.Products.Id)>
                <input type="submit" value="submit" class="btn btn-primary" />
            </a>
        </div>
    </form>
</div>
<div class="row mt-5 ml-5">
    <div>
        @foreach (var item in Model.Ratings)
        {
            <div class="mb-5">
                @{
                    switch (item.RatingIndex)
                    {
                        case 1:
                            <text>
                                <span>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                    <i class="fas fa-star fa-sm text-ouline-primary"></i>
                                    <i class="fas fa-star fa-sm text-ouline-primary"></i>
                                    <i class="fas fa-star fa-sm text-ouline-primary"></i>
                                    <i class="fas fa-star fa-sm text-ouline-primary"></i>
                                </span>
                            </text>
                            break;
                        case 2:
                            <text>
                                <span>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                    <i class="fas fa-star fa-sm text-ouline-primary"></i>
                                    <i class="fas fa-star fa-sm text-ouline-primary"></i>
                                    <i class="fas fa-star fa-sm text-ouline-primary"></i>
                                </span>
                            </text>
                            break;
                        case 3:
                            <text>
                                <span>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                    <i class="fas fa-star fa-sm text-ouline-primary"></i>
                                    <i class="fas fa-star fa-sm text-ouline-primary"></i>
                                </span>
                            </text>
                            break;
                        case 4:
                            <text>
                                <span>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                    <i class="fas fa-star fa-sm text-ouline-primary"></i>
                                </span>
                            </text>
                            break;
                        default:
                            <text>
                                <span>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                </span>
                            </text>
                            break;
                    }
                }
                <p class="mt-2">@item.TextComment</p>
            </div>
        }
    </div>
</div>
<!--Section: Block Content-->