@page
@model CustomerFE.Pages.Products.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@using Shared.Constants;

@{
    ViewData["Title"] = "Products";
}

<div class="row">
    @*FILTER*@
    <div class="col-12 col-md-3">
        <div id="filter-section">
            <hr />
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" name="searchString" value="@Model.Products.Search" placeholder="Search..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                    <hr />
                    <a class="btn btn-primary mt-3" asp-page="./Index">Show All</a>
                </form>
            </nav>
            
            <div class="dropdown ml-3 mt-3">
                <h3>Filter</h3>
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="?sortOrder=0&currentFilter=Name">
                        A-Z
                    </a>
                    <a class="dropdown-item" href="?sortOrder=1&currentFilter=Name">
                        Z-A
                    </a>
                    <a class="dropdown-item" href="?sortOrder=0&currentFilter=Price">
                        Price <i class="fas fa-long-arrow-alt-up"></i>
                    </a>
                    <a class="dropdown-item" href="?sortOrder=1&currentFilter=Price">
                        Price <i class="fas fa-long-arrow-alt-down"></i>
                    </a>
                </div>
            </div>
            <hr />
        </div>
    </div>

    @*PRODUCT LIST*@
    <div class="col-12 col-md-9">
        <div class="row">
            @foreach (var item in Model.Products.Items)
            {
                <a asp-page="/Products/Details" asp-route-ID="@item.Id">
                    <div class="col-12 col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="@("https://localhost:44373/" + item.ImagePath)" class="card-img-top" alt="Image">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">@item.Price</p>
                            </div>
                        </div>
                    </div>
                </a>

            }
        </div>
    </div>
</div>

<!--<h2>Products</h2>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.Products.Search" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="id"
                   asp-route-currentFilter="@Model.Products.Search">
                    @Html.DisplayNameFor(model => model.Products.Items.FirstOrDefault().Id)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.Items.FirstOrDefault().Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>-->
<!--@{
    var prevDisabled = !Model.Products.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Products.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.Products.SortOrder"
   asp-route-pageIndex="@(Model.Products.Page - 1)"
   asp-route-currentFilter="@Model.Products.Search"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.Products.SortOrder"
   asp-route-pageIndex="@(Model.Products.Page + 1)"
   asp-route-currentFilter="@Model.Products.Search"
   class="btn btn-primary @nextDisabled">
    Next
</a>-->
